<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-back-button defaultHref="tabs/tab1">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-back-button>
      <ion-title class="ion-no-padding">Users CRUD</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col class="ion-align-self-center">
        <ion-fab>
          <ion-fab-button size="small" class="ion-margin-start" routerLink="/list">
            <ion-icon name="list-outline"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-margin-top">Users List</ion-label>
        </ion-fab>
      </ion-col>
      
      <ion-col class="ion-align-self-center">
        <ion-fab>
          <ion-fab-button size="small" class="ion-margin-start" routerLink="/create">
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
          <ion-label class="ion-margin-top">Create User</ion-label>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
