<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="danger">Breaking News</ion-card-subtitle>
      <ion-card-title>Lorem ipsum</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="../../assets/img/img1.jpg"></ion-img>
      <p class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat nisl quis ipsum congue ultrices. Phasellus tristique erat a diam condimentum posuere.</p>
      <ion-button size="small" fill="outline" slot="end" href="https://www.lipsum.com/">View</ion-button>
    </ion-card-content>

    <ion-card-footer>
      <ion-toolbar>
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col>
              <ion-button fill="clear" size="small">
                <ion-icon name="thumbs-up" color="primary"></ion-icon>
                <ion-label class="ion-text-capitalize">&nbsp;1.5K Likes</ion-label> 
              </ion-button>
            </ion-col>
            
            <ion-col>
              <ion-button fill="clear" size="small">
                <ion-icon name="chatbox" color="primary"></ion-icon>
                <ion-label class="ion-text-capitalize">&nbsp;2K Comments</ion-label>
              </ion-button>
            </ion-col>
            
            <ion-col>
              <ion-button fill="clear" size="small">
                <ion-icon name="arrow-redo" color="primary"></ion-icon>
                <ion-label class="ion-text-capitalize">&nbsp;1.2K Shares</ion-label>
              </ion-button>
            </ion-col>
          </ion-row> 
        </ion-grid>
          
      </ion-toolbar>
    </ion-card-footer>
  </ion-card>

  <ion-row class="ion-justify-content-center ion-padding-top ion-padding-bottom">
    <ion-button shape="round" size="small" color="primary" [routerLink]="['/register']">Register to Read More&nbsp;
    <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-row>

  <ion-row>
    <ion-title class="ion-padding-top">News Categories</ion-title>
    <ion-list>
      <ion-item *ngFor="let option of categories">
        <ion-checkbox color="light"></ion-checkbox>
        <ion-label class="ion-padding-start">{{ option.val }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-row>

  <ion-row class="ion-padding-top">
    <ion-title>Lifestyle</ion-title>
    <ion-row class="ion-padding">

      <ion-chip color="primary">
        <ion-icon name="earth-outline"></ion-icon>
        <ion-label>Travel</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
  
      <ion-chip color="primary">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>Food & Cuisine</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>

      <ion-chip color="primary">
        <ion-icon name="shirt-outline"></ion-icon>
        <ion-label>Fashion</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-row>
  </ion-row>

  <ion-row class="ion-padding-top ion-padding-bottom">
    <ion-title>Current Date & Time</ion-title>
    <ion-datetime readonly></ion-datetime>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" size="small" (click)="scrollToTop()">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
