<ion-header>
  <ion-toolbar>
    <ion-title>Barcode Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>Scanned Barcode: </ion-label>
      <ion-text color="primary"><strong>{{ scannedBarcode["text"] }}</strong></ion-text>
    </ion-item>
  
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="scanBarcode()">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
